/* Mobile */

li {
    padding-top: 0.25rem;
    list-style-type: none;    
}

.container-nav a {
    text-decoration: none;
    color: #495E57;
}

.container-nav {
    display: grid;
    grid-template-areas: "a b b b b b b";
    align-content: space-evenly;
    padding: 1rem;
    font-size: x-small;
    border-radius: 12px;
}

.a {
    width: auto;
    height: auto;
    max-width: 75px;
}

.container-footer {
    display: grid;
    grid-template-areas: "c d d d"
                         ". e e e";
    align-content: space-evenly;
    padding: 1rem;
    background-color: #F4CE14;
}

.container-footer li {
    margin: 0;
    line-height: 0.75rem;
}

.c {
    width: auto;
    height: auto;
    max-width: 100px;
    margin-right: 0.5rem;
    border-radius: 12px;
}

.d h4 {
    color: #495E57;
    font-size: smaller;
    max-width: 75px;
    margin: 0;
}

.d {
    padding-top: 0.25rem;
}

.container-footer a {
    color: #333333;
    font-size: x-small;
    text-decoration: none;
}

/* Tablet */

@media screen and (min-width: 800px) {
    .container-nav {
        font-size: large;
    }

    .a {
        max-width: 200px;
    }

    .c {
        max-width: 125px;
    }

    .d {
        padding-top: 0.75rem;
        line-height: 1.25rem;
    }

    .d h4 {
        font-size: large;
        max-width: 125px;
    }

    .container-footer a {
        color: #333333;
        font-size: medium;
        text-decoration: none;
    }

    .container-footer li {
        margin: 0;
        line-height: 1rem;
    }

}



@media screen and (min-width: 1000px) {
    .container-nav {
        font-size: larger;
    }

    .a {
        max-width: 300px;
    }

    .c {
        max-width: 250px;
    }

    .d h4 {
        font-size: larger;
        max-width: 125px;
    }

    .d {
        padding-top: 1.25rem;
        line-height: 1.5rem;
    }

    .container-footer a {
        color: #333333;
        font-size: large;
        text-decoration: none;
    }

    .container-footer li {
        margin: 0;
    }
}